

body {
    background-color: rgb(252, 236, 198);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

img {
    max-height: 500px;
    border-radius: 50px;
}

#description_box {
    height: 200px;
    width: 700px;
    white-space: pre wrap;
}


form {
    text-align: center;
}

a {
    color:rgb(247, 96, 171);
}

a:hover {
    color: rgb(245, 170, 21);
}


ul, ol {
    position: relative;
    display: block;
    text-align: center;
}

#event_description_display {
    white-space: pre-wrap;
}

.event_page_subheading {
    font-size: large;
    font-weight: bold;
}

#event_name {
    font-weight: bolder;
    font-display: ;
}

.invte_container {
    text-align: center;
}

.invite_list {
    display: inline-block;
    text-align: left;
}