<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Stella's Event Planner</h1> 
    <h2>About Us</h2>
    <div class="header_links">    
        <a href="/">Home</a>
        <a href="/create_event">Create an event</a>
        <a href="/random_event">Random Event</a>
        <a href="/about">About</a></div>
    <p>This is a website of events that you can go to, or create your own event. <br> <br>
        If you're feeling adventerous, click on 'Random Event' and see what you get!</p>
    <a href="/">Return home</a>
</body>
</html>