<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/create_event_action">
        <label>Event name: <input type="text" name="event_name"></label> <br>
        <label>Date: <input type="date" name="date"></label>
        <label>Start Time: <input type="time" name="start_time"></label>
        <label>End Time: <input type="time" name="end_time"></label><br>
        <label>Description: <input type="text" name="description"></label><br>
        <label>Upload Image Url: <input type="text" name="image_url"></label><br>
        <label>Invite List: <input type="text" name="invite_list"></label>
        <input type="submit">
    </form>
    <a href="/">Return home</a>
</body>
</html>