<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an Event</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Stella's Event Planner</h1> 
    <a href="/">Home</a>
    <a href="/create_event">Create an event</a>
    <a href="/random_event">Random Event</a>
    <a href="/about">About</a> <br><br>
    <form method="POST" action="/create_event_action">
        <label>Event name: <input type="text" name="event_name"></label> <br><br>
        <label>Date: <input type="date" name="date"></label>
        <label>Start Time: <input type="time" name="start_time"></label>
        <label>End Time: <input type="time" name="end_time"></label><br><br>
        <!-- <label>Description: <input type="text" name="description" id="description_box"></label><br> -->
        <label>Description: <br> <br> <textarea rows = "5" cols = "60" name="description" id="description_box"></textarea></label><br><br>
        <label>Upload Image Url: <input type="text" name="image_url"></label><br><br>
        <label>Invite List: <input type="text" name="invite_list"></label>
        <input type="submit"> <br><small> Separate names using comma</small>
    </form>
</body>
</html>