<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete an Event</title>
    <link rel="stylesheet" href="/static/style.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>
<body>
    <h1>Stella's Event Planner</h1> 
    <a href="/">Home</a>
    <a href="/create_event">Create an event</a>
    <a href="/random_event">Random Event</a>
    <a href="/about">About</a>
    <h2>Are you sure you want to delete the event: {{event_name[0][0]}}?</h2> 
    <form method="POST" action="/remove_event_action">
        <input type="hidden" name="event_id" value={{event_id}}>
        <input type="submit" value="Confirm Delete">
    </form> <br>
    <form method="GET" action="/">
        <input type="submit" value="Return Home">
    </form>
</body>
</html>